<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      {{ bokeh_css }}
      {{ bokeh_js }}
        <style>
             {% include 'styles.css' %}
        </style>
        <script>
              {% include 'd3.js' %}
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="container mb-5">
      <div class="row" style="height:120px;" >
        <div class="col-2">
          <img class="img-responsive img-fluid img-thumbnail" src='/streaming/static/nu_logo1.jpg'>
        </div>
        <div class="col-8">
          <h4 class="text-center">
          Disclaimer : This simulator is a research tool. The simulation results will show general trends based on entered parameters and initial conditions
          </h4>
        </div>
        <div class="col-2">
          <img class="img-responsive img-fluid img-thumbnail" src='/streaming/static/issai_logo_new.png'>
        </div>
      </div>
    </div>
      {{ plot_div|indent(8) }}
      {{ plot_script|indent(8) }}
    </body>
    <script>
      {% include 'script.js' %}
    </script>
    <script type="text/javascript">
      uStates.draw("#statesvg", sampleData, tooltipHtml);
    </script>
</html>