.bk-root .bk-bs-btn-primary{
	color: #FDFEFE;
	background-color: #21618C;
	border-color: #21618C;
}
.bk-root .bk-bs-btn:focus {
	color: #FDFEFE;
	background-color: #21618C;
	border-color: #21618C;
}
.bk-root .bk-bs-btn:active {
	color: #FDFEFE;
	background-color: #21618C;
	border-color: #21618C;
}
.bk-root .bk-bs-btn:hover {
	color: #FDFEFE;
	background-color: #5DADE2;
	border-color: #5DADE2;
}

.state{
	fill: none;
	stroke: #a9a9a9;
	stroke-width: 1;
}
.state:hover{
	fill-opacity:0.5;
}

#tooltip h4{
	margin:0;
	font-size:14px;
}
#tooltip{
	border:1px solid grey;
	width: 200px !important;
	border-radius:5px;
	font-size:12px;
	margin:-100px;
	width:100%;
	padding:4px;
	color:red;
	opacity:0;
}
#tooltip table{
	table-layout:fixed;
}
#tooltip tr td{
	padding:0;
	margin:0;
}
#tooltip tr td:nth-child(1){
	width:50px;
}
#tooltip tr td:nth-child(2){
	text-align:center;
}